html {
    -webkit-tap-highlight-color: transparent;
}
a {
    display: block;
    text-decoration: none;
}
button {
    outline: none;
}
input {
    outline: none;
}

.text-center {
    text-align: center;
}
.me-title {
    font-size: 32px;
    font-weight: 500;
    color: #000;
    margin: 0 0 15px;
}
.me-desc {
    font-size: 14px;
    color: @desc-color;
    margin: 0 0 15px;
}
.me-block {
    display: block;
    padding: 0 20px;
}
