@bule: #1989fa;
@red: #ee0a24;
@orange: #ff976a;
@green: #07c160;
@darkgray: #323233;
@lightgray: #7d7e80;

@text-normal-color: @darkgray;
@desc-color: @lightgray;
@link-light-color: #1989fa;
@border-color: #ebedf0;
